*{
    margin:0;
    padding:0;
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:20px;
}
.header{
    grid-column:2/5;
    background-color:white;


}
.nav{
    grid-column:2/5;

}
.sidebar{
    grid-column:1/2;

}
.article{
    grid-column:2/4;
    
}
.rightsidebar{
    grid-column:4/5;



}

