*{
    margin:0;
    padding:0;
}

.container{
    display:grid;
    text-align:center;
    grid-template-rows:2fr 1fr 3fr 3fr 3fr 1fr;
    grid-template-columns:1fr 4fr;
    gap:4px;
}
.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-row:1/3;
  grid-column:1/3;
  display:grid;
  grid-template-columns:2fr 2fr;
}

.menu ul,
.menu li {
  list-style-type:none;font-size: 16px;
  justify-self:center;

}

.sidebar {
  display:grid;
  background-color: #C50208;
  grid-row:2/6;
  grid-column:1/2;
  gap:50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.navigation.bar{
  background-color: #C50208;
  grid-row:2/3;
  grid-column:2/3;
}

.navigation.bar ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type:none;
}

.article {
  background-color: #bccbde;
  grid-row:3/6;
  grid-column:2/3;
  display:grid;
  grid-template-columns:repeat(4,minmax(250px,1fr));
  grid-template-rows:repeat(3,minmax(250px,1fr));
  gap:15px;
  
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height:200px;


}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-row:6/7;
  grid-column:1/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
.menu ul{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  justify-self:center;
  

}
.navigation.bar ul{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  
}
.header .logo{
  grid-column:1/2;
  text-align:left;
  justify-self:center;
}
.menu{
  align-self:center;
}