*{
    margin:0;
    padding:0;
}

.container{
    display:grid;
    text-align:center;
    grid-template-rows:2fr 1fr 3fr 3fr 3fr 1fr;
    grid-template-columns:2fr 1fr 1fr 1fr 1fr;
}
.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-row:1/3;
  grid-column:1/6;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-row:2/6;
  grid-column:1/2;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-row:2/3;
  grid-column:2/6;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-row:3/6;
  grid-column:2/6;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-row:6/7;
  grid-column:1/6;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}